# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Matricies: 
*.matrix

#gedit tmp files: 
*~

#Final Products:
cobFactorizer
